html
{
    background-color: rgb(29, 37, 51);
}

body
{
    display: flex;
    justify-content: center;
}

#header
{
    min-width: 1000px;
    max-width: 1000px;

    background-color: rgb(19, 24, 49);
}

h1
{
    font-family: Tahoma, sans-serif;
    text-align: center;
    color: whitesmoke;
}
