html
{
    display: flex;

    align-items: center;
    justify-content: center;

    margin-top: 25ch;

    background-color: black;
}

div
{
    display: flex;
    align-items: center;
}

label
{
    color: red;
}

p
{
    color:red;
}

input
{
    margin-bottom: 10px;

    background-color: grey;
}